<% if user_signed_in? && current_user.liked_by?(prototype.id) %>
         <div><%= link_to '❤️', destroy_like_path(prototype.id), method: :DELETE, class: "tweet_likes", remote: true  %><%= prototype.likes.count %></div>
         <% else %>
         <div><%= link_to '♡', create_like_path(prototype.id), method: :POST, class: "tweet_likes", remote: true  %><%= prototype.likes.count %></div>
         <% end %>
